#informacaoAtendimento{
    background-color: #fcb9e8ad;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    display: flex;
    height: 25px;
    width: 100%;
}
.Espaco {
    height: 1px;
    width: 1px;
}
#Cabecalho {
    width: 100%;
}

.numeroContato {
    padding-left: 14%;
    padding-right: 15%;
    font-family: "Roboto",sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: rgb(39, 38, 38);
}

#BarraDeBusca {
    display: flex;
}

#BarraDePesquisa {
    height: 40px;
    width: 450px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3%;
    margin-right: 5%;
    font-family: "Roboto",sans-serif;
    font-weight: bolder;
    font-size: 15px;
    
}

#Logo {
    margin-left: 13%;
    margin-right: 4%;
}

#RastreamentoDoPedido {
    margin-top: 4%;
    margin-right: 1%;
    margin-left: 1%;
    font-family: "Roboto",sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: rgb(39, 38, 38);
}

#LogoCarrinhoDeCompras {
    margin-top: 3.4%;
    margin-right: 5%;
    size: 50px;
}

#NavBarContainer {
    background-color: teal;
    display: flex;
    width: 100%;
}
#NavBarBotoesItens {
    background-color: rgb(236, 46, 220);
    display: flex;
    height: 72px;
    width: 100%;
    margin-right: 200px;
}
#NavBarConteudo{
    background-color: rgb(236, 46, 220);
    display: flex;
    height: 72px;
    width: 1000px;
    margin-left: 19%;
}

.botaoNavBar {
    background-color: aquamarine;
    flex: none;
    width: 10%;
    height: 50%;
    text-align: center;
}

#botaoCidadesAtendidas {
    background-color:pink;
    height: 72px;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}